.board{
    transition: background-color 0.3s, box-shadow 0.3s;
    margin: 0;
    height: 450px;
    width: 900px;
    position: relative;
    filter: blur(7px);
    
    transition: filter 0.15s;
}

.player{
    position: absolute;
    top: 175px;
    left: 400px;
}

.score-container{
    position: absolute;
    right: -100px;
    top: 150px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.score,
.timer{
    bottom: 105px;
    right: 30px;
    font-size: 35px;
    background-color: rgb(36, 53, 91);
    color: white;
    height: 60px;
    width: 70px;
    text-align: center;
    padding-top: 10px;
    border-radius: 50%;
}

.arrows{
    position: absolute;
    left: -240px;
    top: 150px;
    margin-right: 50px;
}

.board-canvas{
    position: absolute;
    top: 0;
    left: 0;
}

.boost-timer-container{
    position: absolute;
    bottom: -60px;
    left: 0;
    height: 30px;
    width: 200px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 20);
    padding: 2px;
    visibility: hidden;
}

.best-score-text{
    position: absolute;
    right: 0;
    bottom: -70px;
    color: rgb(36, 53, 91);
    font-weight: 700;
    font-size: 40px;
}

@keyframes animateProgress {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}
