body{
    font-family: 'Open Sans', sans-serif;
}

.container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.box{
    height: 450px;
    width: 900px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 3);
}

.text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.redstone-game-text{
    margin: 0px;
    margin-left: 20px;
    font-size: 70px;
    margin-top: 0px;
    margin-bottom: 8px;
    font-weight: 800;
    color: rgb(36, 53, 91);
}

.text-container{
    background-color: rgb(253,98,122);
    border-radius: 15px 50px;
    padding: 15px;
}

.coming-soon-text{
    margin: 0px;
    font-size: 50px;
    font-weight: 700;
}

.color-theme{
    position: fixed;
    top: 20px;
    right: 20px;
    border: none;
    background-color: rgb(255, 128, 147);
    color: white;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 700;
    transition: transform 0.3s, opacity 0.3s;
}

.color-theme:hover{
    transform: translateX(-10px);
    opacity: 0.7;
}

.color-theme:active{
    opacity: 0.5;
}